.App {
  text-align: center;
}

.Header {
  background: #0a094f;
  height: 150px;
  color: white;
  text-align: center;
  padding-top: 30px;
  border-bottom: 5px solid #d82727;
}

/* th, td {
  padding: 15px;
  text-align: left;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
